.artist-list {
    overflow: hidden;
}

.artist-list-element {
    display: block;
    float: left;
    list-style-type: none;
    font-size: 12px;
    margin-right: 20%;
    width: 80%
}

.artist-list-button {
    background: #262626;
    border: none;
    color: darkGrey;
    float: right;
    clear: right;
}

.heatmap_x_axis {
    color: #fff;
    font-size: 10px;
}

.heatmap_y_axis {
    color: #fff;
    font-size: 12px;
    text-anchor: middle;
}

.heatmap_x_axis text {
    position:absolute;
    transform: rotate(-10deg) translate3d(0px,0px,1px);
}

.heatmap_rect {
    stroke-width: 4px;
    stroke: none;
    opacity:0.8;
}

.heatmap_rect:hover {
    stroke-width:2px;
    stroke: #fff;
}

.popularity:hover {
    stroke-width:1px;
    stroke: #fff;
}

.tooltip {
    background-color: #262626;
    color: #ddd;
    border: solid;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
}

.tooltip td {
    padding-left: 10px;
}

#wrapper-full {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 50vw;
}

#wrapper-viz {
    float: left;
    width: 87%;
    height: 100%;
}

#wrapper-filters {
    float: right;
    background-color: #262626;
    width: 13%;
    height: 100%;
}

#viz-title {
    float: left;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 6%;
}

#viz-title h1 {
    color: #ddd;
    font-size: 25px;
}

#viz-subtitle-heatmap {
    width: 42%;
}

#viz-subtitle-artist {
    width: 12%;
}

#viz-subtitle-barchart {
    width: 45%;
}

.viz-subtitle {
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}

.viz-subtitle-center {
    float:left;
    height: 5%;
    text-align: center;
    padding: 2px 0px;
}

.viz-subtitle h2 {
    font-size: 13px;
    margin-top: auto;
    margin-bottom: auto;
    color: #888;
}

.viz-subtitle-center h2 {
    font-size: 13px;
    margin: 2px 0px;
    color: #888;
}

.filter_top_button {
    width: 50%;
    height: 4%;
    float: left;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

.filter_top_active {
    background-color: #262626;
    cursor: auto;
}

.filter_type_artists {
    display: none;
    height: 100%;
}

.filter_type_range {
    display: none;
}

.filter_type_active {
    display: block;
}

.legend_axis path {
    display: none;
}

.legend_axis text {
    color: #888;
}

.legend_axis line {
    color: #888;
}

.artistText {
    width: 80%;
}

.resetButton {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 35px;
    background-color: darkGrey;
    border: none;
    cursor: pointer;
}

.showButton {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 16px;
    width: 80%;
    height: 35px;
    background-color: #1ED760;
    border: none;
    cursor: pointer;
}
.distplotResetButton {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    height: 30px;
    background-color: darkGrey;
    border: none;
    cursor: pointer;
}

.distplotShowButton {
    margin-right: 5%;
    width: 40%;
    height: 30px;
    background-color: #1ED760;
    border: none;
    cursor: pointer;
}
