.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

#top {
    height: 70px;
    width: 100%;
}

#help {
    height: 1000px;
}

body{
    font-family: Verdana;
    height: 100%;
    width: 100%;
    background-color:black;
    color: white;
    overflow-x: hidden;
}

/* #### SCROLLBAR #### */

/* width */
::-webkit-scrollbar {
  width: 12px;
  height: 30vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1DB954;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #116e32;
}

/* #### NAVIGATION BAR #### */

.navbar-default{
    background-color: #262626;
    width:100vw;
    font-color:white;
    font-weight:bold;
}

.navbar-default .navbar-nav > li > a {
    width:auto;
    color: white;
    opacity: 0.6;
    font-size: 18px;
}

.navbar-default .navbar-nav > li > a:hover {
    width:auto;
    color: white;
    opacity: 1;
}

.navbar-default .navbar-nav > li {
  position: relative;
  display: inline-block;
  margin-right:5vw;
  margin-left:5vw;
}

.navbar-default .navbar-nav > li:after {
  content: "";
  position: absolute;
  left:0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #1DB954;
  transition: width .3s ease-in-out;
}

.navbar-default .navbar-nav > li:hover:after {
  width: 100%;
}


.navbar-default .navbar-nav > .active a{
  color:white;
  opacity:1;
}

/* #### CONTENT #### */

.content_1{
    width: 90vw;
    height: 475px;
    margin:auto;
    display: block;
    position: relative;
    margin-top:5vh;
    margin-bottom:5vh;
}
.content_1::after{
  content: "";
  background: url("/static/img/music_spotify_bg.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.content_1 > .content_1_div_img{
    float:left;
    width: 40%;
    height:100%;
    margin-left:10%;
    margin-rigth:5%;
    display: flex;
    align-items: center;
}

.content_1 > .content_1_div_img > .content_1_img {
    display:block;
    width:100%;
    margin:auto
}


.content_1 > .content_1_div_text{
    float:left;
    margin:5% auto;
    margin-left: 5%;
    width: 40%;
    height:100%;
    margin-right:10%
    z-index: -2;
}

.content_1 > .content_1_div_text > p{
    color:white;
    display: flex;
    align-items: center;
}

.h3_content{
    color: white;
    opacity: 0.85;
    font-size: 23px;
    font-weight: bold;
    margin-bottom:2vh;
    margin-top:
}

.content_2{
    width:90vw;
    height:800px;
    margin:auto;
    display: block;
    position: relative;
    margin-top:20vh;
    margin-bottom:5vh;
    text-align:center;
}

.content_2::after{
  content: "";
  background: url("/static/img/blue_circle_background.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.h1_content{
    color:white;
}

/* #### FOOTER #### */


.footer{
    position:absolute;
    width: 100vw;
    height: auto;
    margin:0 auto;
    background-color: #262626;
}

.footer > .footer_element {
    float: left;
    height:auto;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top:5vh;
    margin-bottom: 1.5vh;
}

.footer > .footer_element > .h3_new{
    color: white;
    opacity: 0.85;
    font-size: 23px;
    font-weight: bold;
    margin-bottom:2vh;
    margin-top:
}

.footer > .footer_element > p{
    color: white;
    opacity: 0.75;
    font-size:16px;
}

.footer > .footer_element > ul{
    list-style-type:none;
    list-style-position:inside;
}

.footer > .footer_element > .ul_artists > li{
    margin-left:-2vw;
    margin-top:1vw;
    margin-bottom:1vw;
    color:white;
    opacity:0.75;
}

.footer > .footer_element > .ul_links > li{
    margin-left:-2vw;
    margin-top:1vw;
    margin-bottom:1vw;
}

.footer > .footer_element > ul > li > a {
    color:white;
    opacity: 0.75;
}

.footer > .footer_element > ul > li > a:hover {
    color:#1DB954;
    opacity: 1.5;
    text-decoration:none;
}

#footer_element_1 {
    width: 40vw;
}

#footer_element_2 {
    width: 15vw;

}

#footer_element_3 {
    width: 15vw;
}

.hr_new{
    display:inline-block;
    width:100vw;
    border-top: 2px solid white;
    opacity:0.2;
    margin-top:-50px;
}

.footer_bottom{
    width:100vw;
    margin-top:8px;
}

.footer_bottom > .footer_copyright{
    color:white;
    width:50vw;
    height:5vh;
    opacity: 0.75;
    font-size:15px;
    margin-left:5vw;
    margin-top:-2vh;
}


