<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

	<link rel="stylesheet" type="text/css" href="../static/css/base.css">

</head>

<!--sticky-top-->

<body>
	<nav class="navbar navbar-dark bg-dark flex-md-nowrap navbar-expand-md" id="navbar-top">
		<a class="navbar-brand col-1" id="title" href="#">Spotify Dataset</a>
		<div class="navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" id="nav-link-home" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-metrics" href="/metrics">Music Metrics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-popularity" href="/popularity">Music Popularity</a>
				</li>
			</ul>
		</div>
	</nav>

{% block body %}
{% endblock %}
</body>
</html>