<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home page</title>


	<link href="../static/css/barchart.css" rel="stylesheet">

	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">


	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" >


	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<!--sticky-top-->
<!--spotify-color:	#1DB954-->

<body>
<!--	<nav class="navbar navbar-dark bg-dark flex-md-nowrap navbar-expand-md" id="navbar-top">-->
<!--		<a class="navbar-brand col-1" id="title" href="#">Spotify Dataset</a>-->

	<div class ="title-picture">
		<img src = "/static/img/spotify-gif.gif" class = "spotify-gif">
	</div>

	<nav class="navbar navbar-default justify-content-center flex-md-nowrap navbar-expand-md" id = "navbar-top">
		<div class="navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" id="nav-link-home" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-metrics" href="/metrics">Music Metrics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-popularity" href="/popularity">Music Popularity</a>
				</li>
			</ul>
		</div>
	</nav>

	<script type="text/javascript">
		d3.selectAll(".nav-link").classed("active", false);
		d3.select("#nav-link-home").classed("active", true);
	</script>

<link rel="stylesheet" type="text/css" href="../static/css/home.css">

<div class = "content_1">
	<div class = "content_1_div_img">
		<img src = "/static/img/popular_artists.jpg" class = "content_1_img">
	</div>

	<div class = "content_1_div_text">
		<h3 class = "h3_content">Introduction</h3>

		<p>Our job is to make YOUR wildest visualisations come true and give you insight into the most popular trends
		currently on spofity. We focus on providing multiple ways to investigate these trends. All these visualisations
		we performed with HTML, CSS and Javascript to provide the user with the required interactivity necessary to
		change the visualisations according to the users prefreences. Moreover, it also provides a template for others
		who are interested in diving deeper into the spotify dataset that was obtained from Kaggle. The sky is the limit
		and we hope to inspire others in data analysis!</p>
	</div>
</div>

<div id="arrowAnim">
  <div class="arrowSliding">
    <div class="arrow"></div>
  </div>
  <div class="arrowSliding delay1">
    <div class="arrow"></div>
  </div>
  <div class="arrowSliding delay2">
    <div class="arrow"></div>
  </div>
  <div class="arrowSliding delay3">
    <div class="arrow"></div>
  </div>
</div>

<div class = "content_2">
	<div class = "content_2_plot" id="barchart">


	</div>
</div>

<div class = "footer">
	<div class = "footer_element" id = "footer_element_1">
		<h3 class = "h3_new">About</h3>
		<p>
		Our job is to make YOUR wildest visualisations come true and give you insight into the most popular trends
		currently on spofity. We focus on providing multiple ways to investigate these trends. All these visualisations
		we performed with HTML, CSS and Javascript to provide the user with the required interactivity necessary to
		change the visualisations according to the users prefreences. Moreover, it also provides a template for others
		who are interested in diving deeper into the spotify dataset that was obtained from Kaggle. The sky is the limit
		and we hope to inspire others in data analysis!
		</p>
	</div>

	<div class = "footer_element" id = "footer_element_2">
		<h3 class = "h3_new">Artists</h3>
		<ul class = "ul_artists">
			<li>Sjors Peerdeman</li>
			<li>Piet Snel</li>
			<li>Francine Verbeek</li>
			<li>Tim Vorstenbosch</li>
			<li>Wolf bij 't Vuur</li>
		</ul>
	</div>

	<div class = "footer_element" id = "footer_element_3">
		<h3 class = "h3_new">Quick Links</h3>
		<ul class = "ul_links">
			<li><a class = "footer_link" href = "https://github.com/Wolfb34/InfoVis-Framework-2021">Github</a></li>
			<li><a class = "footer_link" href = "https://www.vu.nl/nl/index.aspx">Vrije Universiteit</a></li>
			<li><a class = "footer_link" href = "https://www.uva.nl/">Universiteit van Amsterdam</a></li>
			<li><a class = "footer_link" href = "https://www.spotify.com/nl/">Spotify</a></li>
		</ul>
	</div>

	<hr class = "hr_new">

	<div class = "footer_bottom" id = "footer_bottom">
		<div class = "footer_copyright">
			Copyright &copy; 2021 All Rights Reserved by Project Group 15.
		</div>
	</div>

</div>

{% block body %}
{% endblock %}
</body>
<script type="text/javascript" src="../static/js/homechart.js"></script>
<script type="text/javascript">
	var song_data = {{ song_data | safe }};
	var x_variables = {{ artists | safe }};

	var width = 1500;
	var height = 700;
	var chart_height = 400,
		chart_width = 1300;

	var svgContainer = d3.select("#barchart").append("svg")
					.attr("height", height)
					.attr("width", width);

	var x = d3.scaleBand().rangeRound([0, chart_width]),
	    y = d3.scaleLinear().rangeRound([chart_height, 0]);

	x.domain(x_variables);
	y.domain([0, 100]);


	createPlot();
</script>
</html>
