<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>{% block title %}{% endblock %}</title>



	<!-- Bootstrap core CSS -->
	<link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" >

	<!-- D3 package -->
	<script src="https://d3js.org/d3.v5.min.js"></script>

</head>

<!--sticky-top-->
<!--spotify-color:	#1DB954-->

<body>
<!--	<nav class="navbar navbar-dark bg-dark flex-md-nowrap navbar-expand-md" id="navbar-top">-->
<!--		<a class="navbar-brand col-1" id="title" href="#">Spotify Dataset</a>-->

	<div class ="title-picture">
		<img src = "/static/img/spotify-gif.gif", class = "spotify-gif">
	</div>

	<nav class="navbar navbar-default justify-content-center flex-md-nowrap navbar-expand-md" id = "navbar-top">
		<div class="navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" id="nav-link-home" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-metrics" href="/metrics">Music Metrics</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  id="nav-link-popularity" href="/popularity">Music Popularity</a>
				</li>
			</ul>
		</div>
	</nav>

<!--<script type = "text/javascript">-->
<!--	$(document).ready(function(){-->
<!--	$('nav a').click(function(){-->
<!--	$('nav a').removeClass('active');-->
<!--	$(this).addClass('active');-->
<!--	let link=$(this).attr('href');-->
<!--	window.location.href=link;-->
<!--	});-->
<!--	});-->
<!--</script>-->

	<script type="text/javascript">
		d3.selectAll(".nav-link").classed("active", false);
		d3.select("#nav-link-home").classed("active", true);
	</script>

<link rel="stylesheet" type="text/css" href="../static/css/base.css">

{% block body %}
{% endblock %}
</body>
</html>