{% extends "base.html" %}
{% block title %}D3 Visualization{% endblock %}
{% block body %}
<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-timeline").classed("active", true);
</script>

<link rel="stylesheet" type="text/css" href="../static/css/timeline.css">
<link href="../static/css/tooltip.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/tooltip.js"></script>
<link href="../static/css/timeline.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../static/js/timeline.js"></script>

<h2 class="mt-3">OmniArt timeline</h2>

<div class="mt-3" id="timeline"></div>

<script type="text/javascript">
    let timeline_data = {{ timeline_data | safe }};
    timeline_data.forEach(
        group => group.data.forEach(
            label => label.data.forEach((painting) => {
                painting.timeRange[0] = new Date(painting.timeRange[0]['year'], painting.timeRange[0]['month'], 1);
                painting.timeRange[1] = new Date(painting.timeRange[1]['year'], painting.timeRange[1]['month'], 1);
    })));

    let filter = null;
    let timeline = TimelinesChart()
        .data(timeline_data)
        .width(1000)
        .maxHeight(5000)
        .leftMargin(0)
        .zQualitative(true)
        .timeFormat('%Y')
        .showGroupToolTip(false)
        .showLineToolTip(false)
        .onZoom((a, b) => console.log(a, b))  // TODO: set vars for GAN input
        .onLegendClick((s) => {
            if (filter === s.innerHTML) {
                // Deselect all filters
                filter = null;
                d3.selectAll('.series-segment')
                    .attr('class', (d) => { return `series-segment ${d.val}`})
                    .style('fill-opacity', .8);

                d3.selectAll('.color-slot')
                    .style('fill-opacity', 1);

                setZoomToFilter();
            }
            else {
                filter = s.innerHTML;
                let zoomStart = null,
                    zoomEnd = null;

                // Select specific filter
                d3.selectAll(`.series-segment.${s.innerHTML}`)
                    .attr('class', (d) => { return `series-segment ${d.val}`})
                    .style('fill-opacity', .8)
                    .each((d, i) => {
                        if (i === 0) zoomStart = d.timeRange[0]
                        if (!zoomEnd || d.timeRange[1] > zoomEnd) zoomEnd = d.timeRange[1]
                    });

                d3.selectAll(`.color-slot.${s.innerHTML}`)
                    .style('fill-opacity', 1);

                // Deselect all not selected
                d3.selectAll(`.series-segment:not(.${s.innerHTML})`)
                    .attr('class', (d) => { return `series-segment ${d.val} disabled`})
                    .style('fill-opacity', .1);

                d3.selectAll(`.color-slot:not(.${s.innerHTML})`)
                    .style('fill-opacity', .2);

                setZoomToFilter(zoomStart, zoomEnd);
            }
        })
        .onSegmentClick((s) => console.log(s))  // TODO: link to callback
        (document.getElementById('timeline'));

    function setZoomToFilter(start=null, end=null) {
        timeline.zoomX(start && end ? [start, end] : [null, null]);
    }
</script>
{% endblock %}